.caixa-form {
    background-color: #e5e5e5;
    margin: 100px 80px;
    padding: 50px 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.caixa-form h2{
    color: #e6005a;
    margin-bottom: 20px;
}

.campo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.campo input{
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #32b9cd;
    color: black;
}

.caixa-form button {
    margin-top: 20px;
    width: 120px;
    color: white;
    background-color: #e6005a;
    padding: 10px 20px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.caixa-form button:hover {
    opacity: 0.8;
}

.campo label{
    color: #e6005a;
    margin: 15px 0;
}
